################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/marketplace-app/.vs/marketplace-app/v16
/marketplace-app/.vs/marketplace-app/config
/Marketplace-Blank/.vs/Marketplace-Blank/v16/Server/sqlite3
