################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/marketplace-app/.vs/marketplace-app/v16
